<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Go Vanilla Full Stack</title>
    <link rel="stylesheet" href="/static/main.css" />
  </head>
  <body>
    <main>
      {{template "person_form.html"}}
      <br />
      <br />
      {{template "person_table.html" .People}}
    </main>
    <script src="/static/form.js"></script>
  </body>
</html>
